body, html {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
}
main {
    flex: 1;
}
h1{
    margin-top:30px;
}
.offcanvas-header .btn-close {
    border: none; /* Hiq kufirin nga butoni mbyllës */
}

.offcanvas-body img {
    max-width: 150px;
    margin: 0 auto;
    display: block;
}
.container-fluid {
    padding: 0 !important;
    margin: 0 !important;
    max-width: 100% !important;
}



/* Siguro që imazhet shtrihen deri në kufijtë e faqes */
.carousel-inner img {
    width: 100% !important;
    height: auto;
    object-fit: cover;
}

/* General styles for Shop By Categories */
/* General styles for Shop By Categories */
.shop-categories {
    background-color: #f8f9fa;
    width: 100%;
}




.shop-categories h2 {
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 30px;
}

/* Styling for category cards */
.category-card {
    position: relative;
    width: 100%;
    height: 250px;
    overflow: hidden;
    border-radius: 0;
    background-color: #000;
}

    .category-card img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        opacity: 0.85;
        transition: opacity 0.3s ease;
    }

    .category-card .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background: rgba(0, 0, 0, 0.4);
        color: white;
        font-size: 1rem;
        font-weight: bold;
        text-transform: uppercase;
        transition: background 0.3s ease;
    }

    .category-card:hover img {
        opacity: 1;
    }

    .category-card:hover .overlay {
        background: rgba(0, 0, 0, 0.7);
    }

    .category-card .overlay h5 {
        margin: 0;
    }

/* Responsive styles */
@media (max-width: 768px) {
    .category-card {
        height: 200px;
    }

        .category-card .overlay h5 {
            font-size: 0.9rem;
        }
}

.footer h5 {
    font-size: 1.25rem;
    border-bottom: 2px solid #f8f9fa;
    padding-bottom: 8px;
}

.footer a:hover {
    color: yellow !important; /* Ngjyra kur kalon miu */
}

.payment-icons img {
    width: 50px;
    margin-right: 10px;
}
.login-page {
    background: url('../Photos/background1.jpg') no-repeat center center;
    background-size: cover;
    min-height: 100vh; /* Për të mbuluar të gjithë faqen */
   
}
.transparent-box {
    background-color: rgb(128, 128, 127, 0.49); /* Ngjyrë e bardhë me transparencë */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-top: 40px; /* Shton hapësirë nga maja */
}
